body {
  font-family: sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.free-batch{
  font-size: 12px;
  background: #48BB78;
  border-radius: 10px;
  padding: 2px 8px;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  margin-right: 5px;
}
